Django==5.1.6
djangorestframework==3.15.2
drf-yasg==1.21.8
dj-database-url==3.0.1
psycopg2-binary==2.9.10
gunicorn==23.0.0
python-dotenv==1.1.1
google-genai==1.2.0
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.76
langchain-text-splitters==0.3.11
faiss-cpu==1.12.0
numpy==2.2.3
rapidfuzz==3.14.1
nltk==3.9.1
requests==2.32.5
